<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>White Noise Machine</title>

    <!-- Bootstrap core CSS -->
    <link href="static/web/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="web/css/custom.css" rel="stylesheet"> -->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="offset-2 col-8 offset-2">
                <div class="list-group">
                    {%for i in range(0, len) %}
                        <button type="button" class="list-group-item list-group-item-action" onclick="changeSound({{i}})">{{ audioNames[i] }}</button>
                    {%endfor%}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="offset-2 col-3 offset-1 text-center">
                <button class="btn btn-lg" style="background-color:transparent;" id="stopButton">
                    <i class="fa fa-stop"></i>
                </button>
            </div>

            <div class="offset-1 col-3 offset-2 text-center">
                <button class="btn btn-lg" style="background-color:transparent;" id="playButton">
                    <i class="fa fa-play"></i>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="offset-2 col-8 offset-2 text-center">

                <button class="btn btn-lg" style="background-color:transparent;" id="volumeDownButton">
                    <i class="fa fa-volume-down"></i>
                </button>

                <input type="range" min="0.0" max="1.0" value="0.5" step="0.01" class="slider" id="volumeSlider">

                <button class="btn btn-lg" style="background-color:transparent;" id="volumeUpButton">
                    <i class="fa fa-volume-up"></i>
                </button>

            </div>
        </div>
    </div>

    <script src="static/web/vendor/jquery/jquery.min.js"></script>
    <script src="static/web/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type=text/javascript>
        $(function() {
            $('#playButton').on('click', function() {
                $.getJSON('/play');
                return false;
            });
        });

        $(function() {
            $('#stopButton').on('click', function() {
                $.getJSON('/stop');
                return false;
            });
        });


        $(function() {
            $('#volumeDownButton').on('click', function() {
                $.getJSON('/volumeDown');
                return false;
            });
        });

        $(function() {
            $('#volumeUpButton').on('click', function() {
                $.getJSON('/volumeUp');
                return false;
            });
        });

        $(function() {
            $('#volumeSlider').on('input change', function() {
                $.getJSON('/volume', { value: this.value } );
                return false;
            });
        });

        function changeSound(id) {
            $.getJSON('/changeSound', { soundId: id } );
        }
    </script>
</body>

</html>
